@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

$primary: #ea7c69;
$dark: #252836;
$darker: #1f1d2b;
$red: #ff7ca3;

// Size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

body {
    background-color: $dark !important;
    color: #fff !important;
    * {
        font-family: "Barlow", sans-serif;
    }
}

#compactSidebar {
    background-color: $darker;
}

#content {
    margin-top: 0;
}

.navbar {
    margin: 0;
    background: inherit;
    -ms-flex-flow: initial;
    flex-flow: initial;
    max-height: initial;
    border-bottom: none;
    ul {
        list-style: none;
    }
    .nav-item form.form-inline input.search-form-control {
        background-color: #ffffff0a !important;
        border: 1px solid #393c49 !important;
    }
}

// SIDEBAR
.sidebar-theme #compactSidebar {
    background: $darker;
}
.sidebar-wrapper #compactSidebar .menu-categories li.menu.active a.menu-toggle,
.sidebar-wrapper #compactSidebar .menu-categories li.menu a.menu-toggle[data-active="true"] {
    background-color: $primary;
    box-shadow: 0px 3.7728378772735596px 11.318513870239258px 0px #ea7c6952;
    svg {
        color: #fff;
        fill: #fff;
    }
}

.theme-logo {
    background: #eb956a69 !important;
    svg {
        color: $primary;
    }
}
.sidebar-wrapper #compactSidebar .menu-categories li.menu a.menu-toggle {
    background-color: transparent;
    box-shadow: none;
}
.sidebar-wrapper #compactSidebar .menu-categories {
    justify-content: start;
}
.sidebar-wrapper #compactSidebar .external-links a {
    background-color: transparent;
    box-shadow: none;
}
.sidebar-wrapper #compactSidebar .menu-categories {
    justify-content: space-around;
}
.sidebar-theme #compactSidebar {
    border-radius: 0 15px 15px 0;
}

// CONTENT
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

p {
    color: rgb(238, 238, 238);
}

a {
    color: #fff;
    &:hover {
        color: inherit;
        filter: brightness(0.57) !important;
    }
}

// FORM ELEMENTS
select {
    padding: 0 6px !important;
    background-color: $darker !important;
    border: 1px solid #393c49 !important;
    color: #fff !important;
    &:focus {
        box-shadow: 0 0 5px 2px #ffffff12 !important;
    }
}

.sidebarCollapse {
    @media screen and (min-width: 1199px) {
        display: none;
    }
}
// .menu.active {
//     position: relative;
//     .bg-tab {
//         position: absolute;
//         right: 0;
//         top: -10%;
//         width: 93%;
//         height: 130%;
//         border-radius: 10px 0 0 10px;
//         // margin: 10px 2px 0 2px ;
//         background-color: $dark;
//         z-index: -1;
//     }
// }

a.menu-toggle[data-active="true"] {
    @media screen and (min-width: $xl) {
        &::before {
            content: "";
            position: absolute;
            right: 0;
            width: 93%;
            height: 120%;
            border-radius: 10px 0 0 10px;
            background-color: $dark;
            z-index: -1;
        }
    }
    &:hover {
        filter: none !important;
    }
}
